In [1]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [4]:
#made an array with six elements and they're all ones
x = np.ones(6)
x

array([1., 1., 1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [8]:
#made an array with six elements and they're all zeros
y = np.zeros(6)
y

array([0., 0., 0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [9]:
#using + for array does a normal mathematical operation between all the elements and return an array with the same length
x + y

array([1., 1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [24]:
print(f"Array: {x}, Dimensions: {x.ndim}, Size: {x.size}, Shape: {x.shape}, Data Type: {x.dtype}")

Array: [1. 1. 1. 1. 1. 1.], Dimensions: 1, Size: 6, Shape: (6,), Data Type: float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [25]:
w = np.array([[11, 13],   # First row: 11, 13
              [13, 14],   # Second row: 13, 14
              [15, 16]])  # Third row: 15, 16

# Displaying the array 'w'
print(w)

[[11 13]
 [13 14]
 [15 16]]

## Q#6: Create z array contains the numbers from 1 to 3.

In [23]:
# np.arange(start, stop, step) generates numbers from 'start' to 'stop' (exclusive) with a step size of 'step'
z = np.arange(1, 4)
print(f"Array: {z}, Dimensions: {z.ndim}, Size: {z.size}, Shape: {z.shape}, Data Type: {z.dtype}")

Array: [1 2 3], Dimensions: 1, Size: 3, Shape: (3,), Data Type: int32

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [42]:
# 'z' was initially 1D, so i reshaped it to match the dimensions of 'w'
# Combined z after reshaping and 'w' horizontally using np.hstack()
newArray = np.hstack((z.reshape(3, 1), w))

# result is a 3x3 array where the first column is 'z' and the next two columns are from 'w'
newArray

array([[ 1, 11, 13],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [33]:
# used np.nditer to iterate over all elements in 'newArray'
for x in np.nditer(newArray):
    print(x)

1
11
13
2
13
14
3
15
16

## Q#9: Reverse the columns and rows of "newArray".

In [38]:
# Reversing the rows and columns of 'newArray'
reversedArray = newArray[::-1, ::-1]

# Displaying the reversed array
print(f"before the reverse\n{newArray}\nAfter the reverse\n{reversedArray}")

before the reverse
[[ 1 11 13]
 [ 2 13 14]
 [ 3 15 16]]
After the reverse
[[16 15  3]
 [14 13  2]
 [13 11  1]]

## Q#10: Decrement all elements of "newArray" with 1.

In [43]:
# Decrementing all elements of 'newArray' by 1
newArray = newArray -1
print(newArray)

[[ 0 10 12]
 [ 1 12 13]
 [ 2 14 15]]

## Q#11: Find smallest and biggest values in "newArray".

In [45]:
# Finding the smallest value in 'newArray'
smallest_value = np.min(newArray)

# Finding the biggest value in 'newArray'
biggest_value = np.max(newArray)

# Displaying the results
print(f"Smallest value: {smallest_value} Biggest value: {biggest_value}")    # Output the biggest and smallest value

Smallest value: 0 Biggest value: 15

## Q#12: Print the first row of "newArray" using indexing.

In [47]:
# Indexing starts at 0, so 0 refers to the first row
print("First row:", newArray[0])

First row: [ 0 10 12]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [51]:
#to get a specfic value i can use newArray[row,column]
print("First one at row 0, column 2:", newArray[0, 2])
print("Second one at row 1, column 1:",  newArray[1, 1])

First one at row 0, column 2: 12
Second one at row 1, column 1: 12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [52]:
print(newArray[0, 0])#zero is at row 0, column 0:
print(newArray[1, 2])# 13 is at row 1, column 2

0
13

## Q#15: Change the shape of "newArray" to (9,1).

In [55]:
newArray = newArray.reshape(9, 1)
newArray

array([[ 0],
       [10],
       [12],
       [ 1],
       [12],
       [13],
       [ 2],
       [14],
       [15]])

## Q#16: Change the shape of "newArray" to (3,2).

In [63]:
# you can't reshape a (9,1) array to a (3,2) array unless you want to delete some elemnts :(
try:
    newArray = newArray.reshape(3, 2) 
except:
    # this will take the first 6 elements and reshape to (3, 2)
    newArray = newArray_reshaped[:6].reshape(3, 2)

newArray

array([[ 0, 10],
       [12,  1],
       [12, 13]])

# Well Done 🎉